<p>
  In 2014, there are 4 edges which have their own tax rate:<br>
  <% @rules.each do |rule| %>
    <% if rule.upper_limit == 0 %>
      Above <%= number_to_currency(rule.lower_limit, locale: :ina) %> the tax rate is <%= rule.tax_rate %>%<br>
    <% else %>
      From <%= number_to_currency(rule.lower_limit, locale: :ina) %> to <%= number_to_currency(rule.upper_limit, locale: :ina) %> tax rate is <%= rule.tax_rate %>% <br>
    <% end %>

  <% end %>
</p>

<p>
  <%= form_tag("/count", method: "POST") do %>
  <%= label_tag(:income, "Please type your income:") %>
  <%= text_field_tag(:income) %>
  <%= submit_tag("Submit") %>
<% end %>
</p>

<br><br>
<%= link_to 'Rules', rules_path %>
